<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Tournament Marshal - Forgot password</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
</head>
<body>
<div id="nav-bar" />
<div id="forgot-password" />
<script src="//fb.me/react-0.14.3.js"/>
<script src="//fb.me/react-dom-0.14.3.js"/>
<script src="js/NavBar.js"/>
<script src="js/ForgotPassword.js" />
<script>
    ReactDOM.render(React.createElement(NavBar,
            { items:[{display:"Sign up", nav:"#"}] }
        ), document.getElementById('nav-bar'));
    ReactDOM.render(React.createElement(ForgotPassword), document.getElementById('forgot-password'));
</script>
</body>
</html>