<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tournament Marshal</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="js/src/style.css"/>
</head>

<body>
    <div id="nav-bar"/>
    <div id="react-app"/>

    <script th:inline="javascript">
        var sessionUser = [[${#httpServletRequest.remoteUser}]];
    </script>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <script src="//fb.me/react-0.14.3.js"/>
    <script src="//fb.me/react-dom-0.14.3.js"/>

    <script src="js/src/UserItem.js"/>
    <script src="js/src/UserForm.js"/>
    <script src="js/src/UserView.js"/>
    <script src="js/src/NavBar.js"/>


</body>
</html>