<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tournament Marshal</title>
    <meta charset="utf-8"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
</head>

<body>
    <div id="nav-bar"/>
    <div id="react-app"/>


    <script src="//fb.me/react-0.14.3.js"/>
    <script src="//fb.me/react-dom-0.14.3.js"/>
    <script src="js/UserItem.js"/>
    <script src="js/UserForm.js"/>
    <script src="js/NavBar.js"/>

    <script th:inline="javascript">
        var sessionUser = [[${#httpServletRequest.remoteUser}]];
        /* Need to localize this and have it done in the back end */
        ReactDOM.render(React.createElement(NavBar,
            {items:[{display:"Play", nav:"#"},
                    {display:"Organize", nav:"#"},
                    {display:sessionUser, nav:"#"},
                    {display:"Sign out", nav:"/login?logout"}
                   ]
            }), document.getElementById('nav-bar'));
    </script>
</body>
</html>