<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tournament Marshal</title>
    <meta charset="utf-8"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tournament-marshal.css}" />
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16"/>
</head>
<body>
<div id="nav-bar" />
<div th:if="${param.error}">
    Invalid username and password combination.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div id='main-canvas' />
</form>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script src="js/NavBar.js"/>
<script src="js/SignIn.js"/>
<script src="js/NewUserForm.js" type="text/babel"/>
<script src="js/PostalAddressItem.js" type="text/babel"/>
<script src="js/AboutForm.js" type="text/babel"/>
<script>
    ReactDOM.render(React.createElement(NavBar,
            { items:[{display:"About", nav:showAbout},
                     {display:"Sign in", nav:signIn},
                     {display:"Sign up", nav:signUp}] }
        ), document.getElementById('nav-bar'));

    signIn();

    function signUp() {
        ReactDOM.render(React.createElement(NewUserForm), document.getElementById('main-canvas'));
    }

    function showAbout() {
       ReactDOM.render(React.createElement(AboutForm), document.getElementById('main-canvas'));
    }

    function signIn() {
        ReactDOM.render(React.createElement(SignIn), document.getElementById('main-canvas'));
    }

</script>
</body>
</html>